{% extends "base.html" %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'users.css' %}">
{% endblock %}

{% block content %}
<div class="tb-wr">
    <table>
        <caption>Статусы</caption>
        
        <thead>
            <tr>
                <th colspan="4">
                    
    <a href="{% url 'create_status' %}" class="a_non_dec">
    <button type="submit" class="submit-btn">Создать статус</button>
    </a>
                </th>
            </tr>
            <tr>
                <th class="coll_w30">ID</th>
                <th>Имя</th>
                <th class="coll_w250">Дата создания</th>
                <th class="coll_w250"></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'update_status' obj.id %}" class="bt_us">Изменить</a>
                    <a href="{% url 'delete_status' obj.id %}" class="bt_us">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}