[run]
# Какие папки учитывать
source = task_manager
# Какие файлы и паттерны игнорировать
omit =
    */migrations/*
    */settings.py
    */wsgi.py
    */asgi.py
    manage.py
    */__init__.py

[report]
# Не считать пустые файлы
skip_empty = True
# Показывать номера строк, которые не покрыты
show_missing = True
# Округлять до десятых
precision = 1