body {
	padding: 0;
	margin: 0;
}

.vh-100 {
	min-height: 100vh;
}

.top_1 {
	background: #EBF1F7;
	margin: 0;
	padding: 5px 5px;
	color: #000;
    width: 100%;
    box-sizing: border-box;
    }

.top_1 a {
	color: #000;
	font-size: 20px;
	text-decoration: none;
}

nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 5px;
      background-color: transparent;
      margin: 0;
    }
