<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <title>Менеджер задач Hexlet</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vh-100">
<div class="column">
    <header class="top_1">
        <div class="head">

            <div class="logo-section">
            <a href="{% url 'index' %}" class="logo">Менеджер задач</a></li>
            </div>

                <button class="navbar-toggler" id="navToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
        <div class="navbar-menu" id="navbarMenu">
                <ul class="menu">
                    <li><a href="{% url 'users' %}">Пользователи</a></li>
                    <li><a href="{% url 'login' %}">Вход</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
        </div>
    </header>
    
<div>
    {% block content %}{% endblock %}
</div>
</div>
<footer>
    <div class="cellar">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
</footer>
<script src="{% static 'button.js' %}" defer></script>
</body>
</html>