<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <title>Менеджер задач Hexlet</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vh-100">
<div class="column">
    <header class="top_1">
        <div class="head">

            <div class="logo-section">
            <a href="{% url 'index' %}" class="logo">Менеджер задач</a></li>
            </div>

                <button class="navbar-toggler" id="navToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
        <div class="navbar-menu" id="navbarMenu">
                <ul class="menu">
                    {% for m in menu %}
                        {% if m.is_logout %}
                        <li><form action={% url m.url_name %} method="post" class="fr_bt">
                            {% csrf_token %}
                            <button type="submit" class="bt">{{ m.name }}</button>
                        </form></li>
                        {% else %}
                        <li><a href="{% url m.url_name %}">{{ m.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    </header>
    
<div>
    <div class="my-message-container">
{% if messages %}
    {% for message in messages %}
    <!-- Используем свои классы. message.tags будет 'info', 'warning', 'error' и т.д. -->
    <div class="my-alert my-alert-{{ message.tags }}">
        {{ message }}
        <!-- Наша собственная кнопка закрытия -->
        <span class="my-close-btn" aria-label="Close">&times;</span>
    </div>
    {% endfor %}
{% endif %}
</div>
    {% block content %}{% endblock %}
</div>
</div>
<footer>
    <div class="cellar">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
</footer>
<script src="{% static 'button.js' %}" defer></script>
</body>
</html>