{% extends "base.html" %}

{% block head %}

{% load static %}
    <link rel="stylesheet" href="{% static 'task.css' %}">
{% endblock %}

{% block content %}
<div class="login-form form-wd-50 min-wd-450">
    <h1>{{ title }}</h1>
        Вы уверены что хотите удалить задачу "<strong>{{ object.name }}</strong>"?
    <form method="post">
    {% csrf_token %}
    <div class="form-group">
    {{ form.as_p }}
    </div>
    <button type="submit" class="submit-btn-blue">{{ button }}</button>
</form>


</div>


{% endblock %}