{% extends "base.html" %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'task.css' %}">
{% endblock %}

{% block content %}
<div class="tb-wr">
<div class="login-form form-wd-50 min-wd-400">
    <h1>{{ title }}</h1>

    <p class="task_name">{{ task.name }}</p>
    <p class="description">{{ task.description }}</p>

    <div class="row">
        <p class="label">Автор</p>
        <p class="value">{{ task.get_author_name }}</p>
    </div>
    <div class="row">
        <p class="label">Исполнитель</p>
        <p class="value">{{ task.get_executor_name }}</p>
    </div>
    <div class="row">
        <p class="label">Статус</p>
        <p class="value">{{ task.status.name }}</p>
    </div>
    <div class="row">
        <p class="label">Дата создания</p>
        <p class="value">{{ task.created_at|date:"d.m.Y H:i" }}</p>
    </div>
    <div>
        <p class="label">Метки: 
        {% if task.label.exists %}
        <ul>
            {% for label in task.label.all %}
            <li>
                {{ label.name }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        Без меток
        {% endif %}
        </p>
    </div>
    <div>
        <p class="label">
        <a href="{% url 'task_update' task.id %}" class="bt_us">Изменить</a>
        <a href="{% url 'task_delete' task.id %}" class="bt_us">Удалить</a>
        </p>
    </div>
</div>
</div>
{% endblock %}